//root
$background: #0A0A0A;
$font-stack: 'Golos', Arial, Helvetica, sans-serif;
$main-color: #FFFFFF;

//breakpoints
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

//collection
$font-size-main-big: 64px;
$font-size-main-small: 32px;
$font-size-secondary: 16px;

// header
$header-color: #0A0A0A;
// $font-size-header-big: 64px;
// $font-size-header-small: 32px;

//photo-collage
$desktop-height: 810px;
$tablet-height: 432px;
$mobile-height: 180px;