// $desktop: 1440px;
// $tablet: 768px;
// $mobile: 320px;
// $desktop-height: 810px;
// $tablet-height: 432px;
// $mobile-height: 180px;
@use '../../modules/variables' as v;

.photo-collage{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: v.$desktop-height;

    &_first{
        background-image: url('../../images/photo-collage_1.png');
    }
    &_second{
        background-image: url('../../images/photo-collage_2.png');
    }
}

@media screen and (max-width: 1024px){
    .photo-collage{
        height: v.$tablet-height;
    }
}

@media screen and (min-width: v.$mobile) and (max-width: 425px){
    .photo-collage{
        height: v.$mobile-height;
    }
}