$desktop-height: 810px;
$tablet-height: 432px;
$mobile-height: 180px;

.photo-collage{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: $desktop-height;

    &_first{
        background-image: url('../../images/photo-collage_1.png');
    }
    &_second{
        background-image: url('../../images/photo-collage_2.png');
    }
}

@media screen and (max-width: 1024px){
    .photo-collage{
        height: $tablet-height;
    }
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .photo-collage{
        height: $mobile-height;
    }
}