$background: #0A0A0A;
$font-stack: 'Golos', Arial, Helvetica, sans-serif;

.root{
    background-color: $background;
    font-family: $font-stack;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}