// $background: #0A0A0A;
// $font-stack: 'Golos', Arial, Helvetica, sans-serif;
// $main-color: #FFFFFF;
// $max-width: 1440px;
@use '../../modules/variables' as v;

.root{
    background-color: v.$background;
    font-family: v.$font-stack;
    font-style: normal;
    width: 100%;
    max-width: v.$max-width;
    margin: 0 auto;
    padding: 0;
    color: v.$main-color;
}