@use '../../modules/variables' as v;

.training{
    max-width: 100%;
    padding: 80px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;

    &__title{
        margin: 0;
        padding: 0;
        max-width: 460px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 32px;
        line-height: 1.25;
    }

    &__subtitle{
        max-width: 690px;
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
    }
}

@media screen and (max-width: v.$tablet){
    .training{
        gap: 10px;
    }

    .training__title{
        font-size: 24px;
        line-height: 1.33;
        max-width: 359px;
    }

    .training__subtitle{
        max-width: 359px;
    }
}

@media screen and (min-width: v.$mobile) and (max-width: 767px){
    .training{
        flex-direction: column;
        gap: 20px;
        padding: 40px 20px;
    }

    .training__title{
        max-width: 100%;
        font-size: 20px;
        line-height: 1.4;
    }

    .training__subtitle{
        max-width: 100%;
    }
}
